{% extends "base.html" %}
{% block content %}



<div class="container">
    <h1 class="text-center mt-5 mb-3">Все заявления</h1>
    <div class="card">
        <div class="card-header">
            Все заявления
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Гос.Номер</th>
                        <th>Описание</th>
                        <th width="250px">Статус</th>
                        <th>Пользователь</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                        <td>{{ post.tags }}</td>
                        <td>{{post.user}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 
{% endblock %}