{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}





<!-- <h1 class="text-center mt-5 mb-3">Регистрация</h1> -->
<!-- <div class="card" style="margin-bottom: 80px; max-width: 800px; margin: auto;">
    <div class="card-header text-center">Form</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {% render_field form.username class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {% render_field form.password class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {% render_field form.password2 class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {% render_field form.email class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.surname.label_tag }}
                {% render_field form.surname class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.name.label_tag }}
                {% render_field form.name class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.patronymic.label_tag }}
                {% render_field form.patronymic class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.phone_number.label_tag }}
                {% render_field form.phone_number placeholder="+7(999)999-99-99" class+="form-control" %}
            </div>
            <div class="form-group">
                {{ form.rules.label_tag }}
                {{form.rules}}
            </div>
            <button
                    type="submit"
                    class="btn btn-primary"
                    style="width: 100%;"
                    >
                Регистрация
            </button>
        </form>
    </div>
</div> -->

<section>
    <div class="container" style="padding-top: 60px; padding-bottom: 30px;">
        <div style="margin-left: auto; margin-right: auto; width: 900px;">
            <div class="col">
                <div class="card" style="border-radius: 1rem; max-width: 800px;">
                    
                        <div class="d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="POST"  action="{% url 'register' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <span class="h1 fw-bold mb-0">Регистрация</span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form.username.label_tag }}
                                        {% render_field form.username placeholder="Логин" class+="form-control" %}
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div class="form-outline mb-4" style="width: 50%; margin-right: 10px;">
                                            {{ form.password.label_tag }}
                                            {% render_field form.password placeholder="******" class+="form-control" %}
                                        </div>

                                        <div class="form-outline mb-4" style="width: 50%;">
                                            {{ form.password2.label_tag }}
                                            {% render_field form.password2  placeholder="******" class+="form-control" %}
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form.email.label_tag }}
                                        {% render_field form.email placeholder="ivanov@mail.ru" class+="form-control" %}
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center">

                                        <div class="form-outline mb-4" style="width: 50%; margin-right: 10px;">
                                            {{ form.surname.label_tag }}
                                            {% render_field form.surname placeholder="Иванов" class+="form-control" %}
                                        </div>
    
                                        <div class="form-outline mb-4" style="width: 50%;">
                                            {{ form.name.label_tag }}
                                            {% render_field form.name placeholder="Иван" class+="form-control" %}
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form.patronymic.label_tag }}
                                        {% render_field form.patronymic placeholder="Иванович" class+="form-control" %}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form.phone_number.label_tag }}
                                        {% render_field form.phone_number placeholder="+7(999)999-99-99" class+="form-control" %}
                                    </div>

                                    <div class="form-outline mb-4">
                                        {{ form.rules.label_tag }}
                                        {{form.rules}}
                                    </div>


                                    <div class="pt-1 mb-4">
                                        <button type="submit" class="btn btn-dark btn-lg btn-block"
                                            style="width: 100%;">Регистрация</button>
                                    </div>


                                    <p class="mb-2 pb-lg-2" style="color: #393f81;">Есть аккаунт? <a
                                            href="{% url 'login' %}" style="color: #393f81;">Авторизация тут</a></p>
                                </form>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.querySelector('#id_username').addEventListener('blur', async (event) => {
        const res = await fetch(`/validate_username?username=${event.target.value}`).then(res => res.json());
        event.target.parentElement.querySelector('.errorList')?.remove();
        const errors = document.createElement('ul');
        errors.classList.add('errorList');

        if (res.is_taken) {
            errors.innerHTML = '<li>Пользователь с таким именем уже есть</li>';
        }

        if (event.target.value.length === 0) {
            errors.innerHTML += '<li>Логин не может быть пустым</li>';
        }

        const re = new RegExp("^[a-zA-Z0-9-]+$");
        if (!re.test(event.target.value)) {
            errors.innerHTML += '<li>Разрешены только латиница, цифры или тире</li>';
        }

        event.target.parentElement.append(errors);
    })
</script>

{% endblock %}